[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/plog"]
	path = dependencies/plog
	url = https://github.com/SergiusTheBest/plog.git
